=begin
#FactPulse REST API

# REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X - Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Factur-X - Validation - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules)  ### ✍️ Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification  ### 📋 Flux 6 - Invoice Lifecycle (CDAR) - **CDAR Messages**: Acknowledgements, invoice statuses - **PPF Statuses**: REFUSED (210), PAID (212)  ### 📊 Flux 10 - E-Reporting - **Tax Declarations**: International B2B, B2C - **Flow Types**: 10.1 (B2B transactions), 10.2 (B2B payments), 10.3 (B2C transactions), 10.4 (B2C payments)  ### 📡 AFNOR PDP/PA (XP Z12-013) - **Flow Service**: Submit and search flows to PDPs - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user  ### 🏛️ Chorus Pro - **Public Sector Invoicing**: Complete API for Chorus Pro  ### ⏳ Async Tasks - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **Webhooks**: Automatic notifications when tasks complete  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     

The version of the OpenAPI document: 1.0.0
Contact: contact@factpulse.fr
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module FactPulse
  class AFNORPDPPADirectoryServiceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creating a directory line
    # Creation of a new directory line for a SIREN, a SIRET or a ROUTING CODE.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def create_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_post(opts = {})
      data, _status_code, _headers = create_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_post_with_http_info(opts)
      data
    end

    # Creating a directory line
    # Creation of a new directory line for a SIREN, a SIRET or a ROUTING CODE.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def create_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.create_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_post ...'
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/directory-line'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.create_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#create_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a routing code
    # Creating a routing code.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def create_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_post(opts = {})
      data, _status_code, _headers = create_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_post_with_http_info(opts)
      data
    end

    # Create a routing code
    # Creating a routing code.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def create_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.create_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_post ...'
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/routing-code'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.create_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#create_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a directory line
    # Delete a directory line.
    # @param id_instance [String] AFNOR instance ID (UUID)
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_delete(id_instance, opts = {})
      data, _status_code, _headers = delete_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_delete_with_http_info(id_instance, opts)
      data
    end

    # Delete a directory line
    # Delete a directory line.
    # @param id_instance [String] AFNOR instance ID (UUID)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_delete_with_http_info(id_instance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.delete_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_delete ...'
      end
      # verify the required parameter 'id_instance' is set
      if @api_client.config.client_side_validation && id_instance.nil?
        fail ArgumentError, "Missing the required parameter 'id_instance' when calling AFNORPDPPADirectoryServiceApi.delete_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_delete"
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/directory-line/id-instance:{id_instance}'.sub('{' + 'id_instance' + '}', CGI.escape(id_instance.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.delete_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#delete_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Healthcheck Directory Service
    # Check Directory Service availability (AFNOR XP Z12-013 compliant)
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def directory_healthcheck_proxy_api_v1_afnor_directory_v1_healthcheck_get(opts = {})
      data, _status_code, _headers = directory_healthcheck_proxy_api_v1_afnor_directory_v1_healthcheck_get_with_http_info(opts)
      data
    end

    # Healthcheck Directory Service
    # Check Directory Service availability (AFNOR XP Z12-013 compliant)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def directory_healthcheck_proxy_api_v1_afnor_directory_v1_healthcheck_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.directory_healthcheck_proxy_api_v1_afnor_directory_v1_healthcheck_get ...'
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/healthcheck'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.directory_healthcheck_proxy_api_v1_afnor_directory_v1_healthcheck_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#directory_healthcheck_proxy_api_v1_afnor_directory_v1_healthcheck_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a directory line.
    # Retrieve the data from the directory line corresponding to the identifier passed in parameters.
    # @param addressing_identifier [String] Addressing identifier (SIREN, SIRET or routing code)
    # @param [Hash] opts the optional parameters
    # @return [AFNORDirectoryLinePayloadHistoryLegalUnitFacilityRoutingCode]
    def get_directory_line_by_code_proxy_api_v1_afnor_directory_v1_directory_line_code_addressing_identifier_get(addressing_identifier, opts = {})
      data, _status_code, _headers = get_directory_line_by_code_proxy_api_v1_afnor_directory_v1_directory_line_code_addressing_identifier_get_with_http_info(addressing_identifier, opts)
      data
    end

    # Get a directory line.
    # Retrieve the data from the directory line corresponding to the identifier passed in parameters.
    # @param addressing_identifier [String] Addressing identifier (SIREN, SIRET or routing code)
    # @param [Hash] opts the optional parameters
    # @return [Array<(AFNORDirectoryLinePayloadHistoryLegalUnitFacilityRoutingCode, Integer, Hash)>] AFNORDirectoryLinePayloadHistoryLegalUnitFacilityRoutingCode data, response status code and response headers
    def get_directory_line_by_code_proxy_api_v1_afnor_directory_v1_directory_line_code_addressing_identifier_get_with_http_info(addressing_identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.get_directory_line_by_code_proxy_api_v1_afnor_directory_v1_directory_line_code_addressing_identifier_get ...'
      end
      # verify the required parameter 'addressing_identifier' is set
      if @api_client.config.client_side_validation && addressing_identifier.nil?
        fail ArgumentError, "Missing the required parameter 'addressing_identifier' when calling AFNORPDPPADirectoryServiceApi.get_directory_line_by_code_proxy_api_v1_afnor_directory_v1_directory_line_code_addressing_identifier_get"
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/directory-line/code:{addressing_identifier}'.sub('{' + 'addressing_identifier' + '}', CGI.escape(addressing_identifier.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AFNORDirectoryLinePayloadHistoryLegalUnitFacilityRoutingCode'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.get_directory_line_by_code_proxy_api_v1_afnor_directory_v1_directory_line_code_addressing_identifier_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#get_directory_line_by_code_proxy_api_v1_afnor_directory_v1_directory_line_code_addressing_identifier_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a directory line.
    # Retrieve the data from the directory line corresponding to the identifier passed in parameters.
    # @param id_instance [String] AFNOR instance ID (UUID)
    # @param [Hash] opts the optional parameters
    # @return [AFNORDirectoryLinePayloadHistoryLegalUnitFacilityRoutingCode]
    def get_directory_line_by_id_instance_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_get(id_instance, opts = {})
      data, _status_code, _headers = get_directory_line_by_id_instance_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_get_with_http_info(id_instance, opts)
      data
    end

    # Get a directory line.
    # Retrieve the data from the directory line corresponding to the identifier passed in parameters.
    # @param id_instance [String] AFNOR instance ID (UUID)
    # @param [Hash] opts the optional parameters
    # @return [Array<(AFNORDirectoryLinePayloadHistoryLegalUnitFacilityRoutingCode, Integer, Hash)>] AFNORDirectoryLinePayloadHistoryLegalUnitFacilityRoutingCode data, response status code and response headers
    def get_directory_line_by_id_instance_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_get_with_http_info(id_instance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.get_directory_line_by_id_instance_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_get ...'
      end
      # verify the required parameter 'id_instance' is set
      if @api_client.config.client_side_validation && id_instance.nil?
        fail ArgumentError, "Missing the required parameter 'id_instance' when calling AFNORPDPPADirectoryServiceApi.get_directory_line_by_id_instance_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_get"
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/directory-line/id-instance:{id_instance}'.sub('{' + 'id_instance' + '}', CGI.escape(id_instance.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AFNORDirectoryLinePayloadHistoryLegalUnitFacilityRoutingCode'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.get_directory_line_by_id_instance_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#get_directory_line_by_id_instance_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a routing code by instance-id.
    # Retrieve the Routing Code data corresponding to the Instance ID.
    # @param id_instance [String] AFNOR instance ID (UUID)
    # @param [Hash] opts the optional parameters
    # @return [AFNORRoutingCodePayloadHistoryLegalUnitFacility]
    def get_routing_code_by_id_instance_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_get(id_instance, opts = {})
      data, _status_code, _headers = get_routing_code_by_id_instance_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_get_with_http_info(id_instance, opts)
      data
    end

    # Get a routing code by instance-id.
    # Retrieve the Routing Code data corresponding to the Instance ID.
    # @param id_instance [String] AFNOR instance ID (UUID)
    # @param [Hash] opts the optional parameters
    # @return [Array<(AFNORRoutingCodePayloadHistoryLegalUnitFacility, Integer, Hash)>] AFNORRoutingCodePayloadHistoryLegalUnitFacility data, response status code and response headers
    def get_routing_code_by_id_instance_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_get_with_http_info(id_instance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.get_routing_code_by_id_instance_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_get ...'
      end
      # verify the required parameter 'id_instance' is set
      if @api_client.config.client_side_validation && id_instance.nil?
        fail ArgumentError, "Missing the required parameter 'id_instance' when calling AFNORPDPPADirectoryServiceApi.get_routing_code_by_id_instance_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_get"
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/routing-code/id-instance:{id_instance}'.sub('{' + 'id_instance' + '}', CGI.escape(id_instance.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AFNORRoutingCodePayloadHistoryLegalUnitFacility'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.get_routing_code_by_id_instance_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#get_routing_code_by_id_instance_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a routing code by SIRET and routing identifier
    # Retrieve the Routing Code data corresponding to the identifier passed in parameters.
    # @param siret [String] 14-digit SIRET number (INSEE establishment identifier)
    # @param routing_identifier [String] Routing code identifier
    # @param [Hash] opts the optional parameters
    # @return [AFNORRoutingCodePayloadHistoryLegalUnitFacility]
    def get_routing_code_by_siret_and_code_proxy_api_v1_afnor_directory_v1_routing_code_siret_siret_code_routing_identifier_get(siret, routing_identifier, opts = {})
      data, _status_code, _headers = get_routing_code_by_siret_and_code_proxy_api_v1_afnor_directory_v1_routing_code_siret_siret_code_routing_identifier_get_with_http_info(siret, routing_identifier, opts)
      data
    end

    # Get a routing code by SIRET and routing identifier
    # Retrieve the Routing Code data corresponding to the identifier passed in parameters.
    # @param siret [String] 14-digit SIRET number (INSEE establishment identifier)
    # @param routing_identifier [String] Routing code identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(AFNORRoutingCodePayloadHistoryLegalUnitFacility, Integer, Hash)>] AFNORRoutingCodePayloadHistoryLegalUnitFacility data, response status code and response headers
    def get_routing_code_by_siret_and_code_proxy_api_v1_afnor_directory_v1_routing_code_siret_siret_code_routing_identifier_get_with_http_info(siret, routing_identifier, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.get_routing_code_by_siret_and_code_proxy_api_v1_afnor_directory_v1_routing_code_siret_siret_code_routing_identifier_get ...'
      end
      # verify the required parameter 'siret' is set
      if @api_client.config.client_side_validation && siret.nil?
        fail ArgumentError, "Missing the required parameter 'siret' when calling AFNORPDPPADirectoryServiceApi.get_routing_code_by_siret_and_code_proxy_api_v1_afnor_directory_v1_routing_code_siret_siret_code_routing_identifier_get"
      end
      # verify the required parameter 'routing_identifier' is set
      if @api_client.config.client_side_validation && routing_identifier.nil?
        fail ArgumentError, "Missing the required parameter 'routing_identifier' when calling AFNORPDPPADirectoryServiceApi.get_routing_code_by_siret_and_code_proxy_api_v1_afnor_directory_v1_routing_code_siret_siret_code_routing_identifier_get"
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/routing-code/siret:{siret}/code:{routing_identifier}'.sub('{' + 'siret' + '}', CGI.escape(siret.to_s)).sub('{' + 'routing_identifier' + '}', CGI.escape(routing_identifier.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AFNORRoutingCodePayloadHistoryLegalUnitFacility'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.get_routing_code_by_siret_and_code_proxy_api_v1_afnor_directory_v1_routing_code_siret_siret_code_routing_identifier_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#get_routing_code_by_siret_and_code_proxy_api_v1_afnor_directory_v1_routing_code_siret_siret_code_routing_identifier_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Consult a siren (legal unit) by SIREN number
    # Returns the details of a company (legal unit) identified by the SIREN number passed as a parameter.
    # @param siren [String] 9-digit SIREN number (INSEE company identifier)
    # @param [Hash] opts the optional parameters
    # @return [AFNORLegalUnitPayloadHistory]
    def get_siren_by_code_insee_proxy_api_v1_afnor_directory_v1_siren_code_insee_siren_get(siren, opts = {})
      data, _status_code, _headers = get_siren_by_code_insee_proxy_api_v1_afnor_directory_v1_siren_code_insee_siren_get_with_http_info(siren, opts)
      data
    end

    # Consult a siren (legal unit) by SIREN number
    # Returns the details of a company (legal unit) identified by the SIREN number passed as a parameter.
    # @param siren [String] 9-digit SIREN number (INSEE company identifier)
    # @param [Hash] opts the optional parameters
    # @return [Array<(AFNORLegalUnitPayloadHistory, Integer, Hash)>] AFNORLegalUnitPayloadHistory data, response status code and response headers
    def get_siren_by_code_insee_proxy_api_v1_afnor_directory_v1_siren_code_insee_siren_get_with_http_info(siren, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.get_siren_by_code_insee_proxy_api_v1_afnor_directory_v1_siren_code_insee_siren_get ...'
      end
      # verify the required parameter 'siren' is set
      if @api_client.config.client_side_validation && siren.nil?
        fail ArgumentError, "Missing the required parameter 'siren' when calling AFNORPDPPADirectoryServiceApi.get_siren_by_code_insee_proxy_api_v1_afnor_directory_v1_siren_code_insee_siren_get"
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/siren/code-insee:{siren}'.sub('{' + 'siren' + '}', CGI.escape(siren.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AFNORLegalUnitPayloadHistory'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.get_siren_by_code_insee_proxy_api_v1_afnor_directory_v1_siren_code_insee_siren_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#get_siren_by_code_insee_proxy_api_v1_afnor_directory_v1_siren_code_insee_siren_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a siren (legal unit) by instance ID
    # Returns the details of a company (legal unit) identified by the id-instance passed as a parameter.
    # @param id_instance [String] AFNOR instance ID (UUID)
    # @param [Hash] opts the optional parameters
    # @return [AFNORLegalUnitPayloadHistory]
    def get_siren_by_id_instance_proxy_api_v1_afnor_directory_v1_siren_id_instance_id_instance_get(id_instance, opts = {})
      data, _status_code, _headers = get_siren_by_id_instance_proxy_api_v1_afnor_directory_v1_siren_id_instance_id_instance_get_with_http_info(id_instance, opts)
      data
    end

    # Gets a siren (legal unit) by instance ID
    # Returns the details of a company (legal unit) identified by the id-instance passed as a parameter.
    # @param id_instance [String] AFNOR instance ID (UUID)
    # @param [Hash] opts the optional parameters
    # @return [Array<(AFNORLegalUnitPayloadHistory, Integer, Hash)>] AFNORLegalUnitPayloadHistory data, response status code and response headers
    def get_siren_by_id_instance_proxy_api_v1_afnor_directory_v1_siren_id_instance_id_instance_get_with_http_info(id_instance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.get_siren_by_id_instance_proxy_api_v1_afnor_directory_v1_siren_id_instance_id_instance_get ...'
      end
      # verify the required parameter 'id_instance' is set
      if @api_client.config.client_side_validation && id_instance.nil?
        fail ArgumentError, "Missing the required parameter 'id_instance' when calling AFNORPDPPADirectoryServiceApi.get_siren_by_id_instance_proxy_api_v1_afnor_directory_v1_siren_id_instance_id_instance_get"
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/siren/id-instance:{id_instance}'.sub('{' + 'id_instance' + '}', CGI.escape(id_instance.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AFNORLegalUnitPayloadHistory'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.get_siren_by_id_instance_proxy_api_v1_afnor_directory_v1_siren_id_instance_id_instance_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#get_siren_by_id_instance_proxy_api_v1_afnor_directory_v1_siren_id_instance_id_instance_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a siret (facility) by SIRET number
    # Returns the details of a facility associated to a SIRET.
    # @param siret [String] 14-digit SIRET number (INSEE establishment identifier)
    # @param [Hash] opts the optional parameters
    # @return [AFNORFacilityPayloadHistory]
    def get_siret_by_code_insee_proxy_api_v1_afnor_directory_v1_siret_code_insee_siret_get(siret, opts = {})
      data, _status_code, _headers = get_siret_by_code_insee_proxy_api_v1_afnor_directory_v1_siret_code_insee_siret_get_with_http_info(siret, opts)
      data
    end

    # Gets a siret (facility) by SIRET number
    # Returns the details of a facility associated to a SIRET.
    # @param siret [String] 14-digit SIRET number (INSEE establishment identifier)
    # @param [Hash] opts the optional parameters
    # @return [Array<(AFNORFacilityPayloadHistory, Integer, Hash)>] AFNORFacilityPayloadHistory data, response status code and response headers
    def get_siret_by_code_insee_proxy_api_v1_afnor_directory_v1_siret_code_insee_siret_get_with_http_info(siret, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.get_siret_by_code_insee_proxy_api_v1_afnor_directory_v1_siret_code_insee_siret_get ...'
      end
      # verify the required parameter 'siret' is set
      if @api_client.config.client_side_validation && siret.nil?
        fail ArgumentError, "Missing the required parameter 'siret' when calling AFNORPDPPADirectoryServiceApi.get_siret_by_code_insee_proxy_api_v1_afnor_directory_v1_siret_code_insee_siret_get"
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/siret/code-insee:{siret}'.sub('{' + 'siret' + '}', CGI.escape(siret.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AFNORFacilityPayloadHistory'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.get_siret_by_code_insee_proxy_api_v1_afnor_directory_v1_siret_code_insee_siret_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#get_siret_by_code_insee_proxy_api_v1_afnor_directory_v1_siret_code_insee_siret_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a siret (facility) by id-instance
    # Returns the details of a facility according to an instance-id.
    # @param id_instance [String] AFNOR instance ID (UUID)
    # @param [Hash] opts the optional parameters
    # @return [AFNORFacilityPayloadHistory]
    def get_siret_by_id_instance_proxy_api_v1_afnor_directory_v1_siret_id_instance_id_instance_get(id_instance, opts = {})
      data, _status_code, _headers = get_siret_by_id_instance_proxy_api_v1_afnor_directory_v1_siret_id_instance_id_instance_get_with_http_info(id_instance, opts)
      data
    end

    # Gets a siret (facility) by id-instance
    # Returns the details of a facility according to an instance-id.
    # @param id_instance [String] AFNOR instance ID (UUID)
    # @param [Hash] opts the optional parameters
    # @return [Array<(AFNORFacilityPayloadHistory, Integer, Hash)>] AFNORFacilityPayloadHistory data, response status code and response headers
    def get_siret_by_id_instance_proxy_api_v1_afnor_directory_v1_siret_id_instance_id_instance_get_with_http_info(id_instance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.get_siret_by_id_instance_proxy_api_v1_afnor_directory_v1_siret_id_instance_id_instance_get ...'
      end
      # verify the required parameter 'id_instance' is set
      if @api_client.config.client_side_validation && id_instance.nil?
        fail ArgumentError, "Missing the required parameter 'id_instance' when calling AFNORPDPPADirectoryServiceApi.get_siret_by_id_instance_proxy_api_v1_afnor_directory_v1_siret_id_instance_id_instance_get"
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/siret/id-instance:{id_instance}'.sub('{' + 'id_instance' + '}', CGI.escape(id_instance.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AFNORFacilityPayloadHistory'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.get_siret_by_id_instance_proxy_api_v1_afnor_directory_v1_siret_id_instance_id_instance_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#get_siret_by_id_instance_proxy_api_v1_afnor_directory_v1_siret_id_instance_id_instance_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Partially updates a directory line..
    # Partially updates a directory line.
    # @param id_instance [String] AFNOR instance ID (UUID)
    # @param [Hash] opts the optional parameters
    # @return [AFNORDirectoryLinePost201Response]
    def patch_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_patch(id_instance, opts = {})
      data, _status_code, _headers = patch_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_patch_with_http_info(id_instance, opts)
      data
    end

    # Partially updates a directory line..
    # Partially updates a directory line.
    # @param id_instance [String] AFNOR instance ID (UUID)
    # @param [Hash] opts the optional parameters
    # @return [Array<(AFNORDirectoryLinePost201Response, Integer, Hash)>] AFNORDirectoryLinePost201Response data, response status code and response headers
    def patch_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_patch_with_http_info(id_instance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.patch_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_patch ...'
      end
      # verify the required parameter 'id_instance' is set
      if @api_client.config.client_side_validation && id_instance.nil?
        fail ArgumentError, "Missing the required parameter 'id_instance' when calling AFNORPDPPADirectoryServiceApi.patch_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_patch"
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/directory-line/id-instance:{id_instance}'.sub('{' + 'id_instance' + '}', CGI.escape(id_instance.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AFNORDirectoryLinePost201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.patch_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#patch_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_id_instance_id_instance_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Partially update a private routing code.
    # Partially update a private routing code.
    # @param id_instance [String] AFNOR instance ID (UUID)
    # @param [Hash] opts the optional parameters
    # @return [AFNORRoutingCodePost201Response]
    def patch_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_patch(id_instance, opts = {})
      data, _status_code, _headers = patch_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_patch_with_http_info(id_instance, opts)
      data
    end

    # Partially update a private routing code.
    # Partially update a private routing code.
    # @param id_instance [String] AFNOR instance ID (UUID)
    # @param [Hash] opts the optional parameters
    # @return [Array<(AFNORRoutingCodePost201Response, Integer, Hash)>] AFNORRoutingCodePost201Response data, response status code and response headers
    def patch_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_patch_with_http_info(id_instance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.patch_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_patch ...'
      end
      # verify the required parameter 'id_instance' is set
      if @api_client.config.client_side_validation && id_instance.nil?
        fail ArgumentError, "Missing the required parameter 'id_instance' when calling AFNORPDPPADirectoryServiceApi.patch_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_patch"
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/routing-code/id-instance:{id_instance}'.sub('{' + 'id_instance' + '}', CGI.escape(id_instance.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AFNORRoutingCodePost201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.patch_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#patch_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Completely update a private routing code.
    # Completely update a private routing code.
    # @param id_instance [String] AFNOR instance ID (UUID)
    # @param [Hash] opts the optional parameters
    # @return [AFNORRoutingCodePost201Response]
    def put_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_put(id_instance, opts = {})
      data, _status_code, _headers = put_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_put_with_http_info(id_instance, opts)
      data
    end

    # Completely update a private routing code.
    # Completely update a private routing code.
    # @param id_instance [String] AFNOR instance ID (UUID)
    # @param [Hash] opts the optional parameters
    # @return [Array<(AFNORRoutingCodePost201Response, Integer, Hash)>] AFNORRoutingCodePost201Response data, response status code and response headers
    def put_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_put_with_http_info(id_instance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.put_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_put ...'
      end
      # verify the required parameter 'id_instance' is set
      if @api_client.config.client_side_validation && id_instance.nil?
        fail ArgumentError, "Missing the required parameter 'id_instance' when calling AFNORPDPPADirectoryServiceApi.put_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_put"
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/routing-code/id-instance:{id_instance}'.sub('{' + 'id_instance' + '}', CGI.escape(id_instance.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AFNORRoutingCodePost201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.put_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#put_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_id_instance_id_instance_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search for a directory line
    # Search for directory lines that meet all the criteria passed as parameters and return the results in the desired format.
    # @param [Hash] opts the optional parameters
    # @return [AFNORDirectoryLineSearchPost200Response]
    def search_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_search_post(opts = {})
      data, _status_code, _headers = search_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_search_post_with_http_info(opts)
      data
    end

    # Search for a directory line
    # Search for directory lines that meet all the criteria passed as parameters and return the results in the desired format.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AFNORDirectoryLineSearchPost200Response, Integer, Hash)>] AFNORDirectoryLineSearchPost200Response data, response status code and response headers
    def search_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_search_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.search_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_search_post ...'
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/directory-line/search'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AFNORDirectoryLineSearchPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.search_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_search_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#search_directory_line_proxy_api_v1_afnor_directory_v1_directory_line_search_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search for a routing code
    # Search for routing codes that meet all the criteria passed as parameters and return the routing codes in the desired format.
    # @param [Hash] opts the optional parameters
    # @return [AFNORRoutingCodeSearchPost200Response]
    def search_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_search_post(opts = {})
      data, _status_code, _headers = search_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_search_post_with_http_info(opts)
      data
    end

    # Search for a routing code
    # Search for routing codes that meet all the criteria passed as parameters and return the routing codes in the desired format.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AFNORRoutingCodeSearchPost200Response, Integer, Hash)>] AFNORRoutingCodeSearchPost200Response data, response status code and response headers
    def search_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_search_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.search_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_search_post ...'
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/routing-code/search'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AFNORRoutingCodeSearchPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.search_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_search_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#search_routing_code_proxy_api_v1_afnor_directory_v1_routing_code_search_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # SIREN search (or legal unit)
    # Multi-criteria company search.
    # @param [Hash] opts the optional parameters
    # @return [AFNORSirenSearchPost200Response]
    def search_siren_proxy_api_v1_afnor_directory_v1_siren_search_post(opts = {})
      data, _status_code, _headers = search_siren_proxy_api_v1_afnor_directory_v1_siren_search_post_with_http_info(opts)
      data
    end

    # SIREN search (or legal unit)
    # Multi-criteria company search.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AFNORSirenSearchPost200Response, Integer, Hash)>] AFNORSirenSearchPost200Response data, response status code and response headers
    def search_siren_proxy_api_v1_afnor_directory_v1_siren_search_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.search_siren_proxy_api_v1_afnor_directory_v1_siren_search_post ...'
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/siren/search'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AFNORSirenSearchPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.search_siren_proxy_api_v1_afnor_directory_v1_siren_search_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#search_siren_proxy_api_v1_afnor_directory_v1_siren_search_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search for a SIRET (facility)
    # Multi-criteria search for facilities.
    # @param [Hash] opts the optional parameters
    # @return [AFNORSiretSearchPost200Response]
    def search_siret_proxy_api_v1_afnor_directory_v1_siret_search_post(opts = {})
      data, _status_code, _headers = search_siret_proxy_api_v1_afnor_directory_v1_siret_search_post_with_http_info(opts)
      data
    end

    # Search for a SIRET (facility)
    # Multi-criteria search for facilities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AFNORSiretSearchPost200Response, Integer, Hash)>] AFNORSiretSearchPost200Response data, response status code and response headers
    def search_siret_proxy_api_v1_afnor_directory_v1_siret_search_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPADirectoryServiceApi.search_siret_proxy_api_v1_afnor_directory_v1_siret_search_post ...'
      end
      # resource path
      local_var_path = '/api/v1/afnor/directory/v1/siret/search'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AFNORSiretSearchPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPADirectoryServiceApi.search_siret_proxy_api_v1_afnor_directory_v1_siret_search_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPADirectoryServiceApi#search_siret_proxy_api_v1_afnor_directory_v1_siret_search_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
