=begin
#FactPulse REST API

# REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X Invoice Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Validation and Compliance - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata, electronic signatures - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules) - **Asynchronous Processing**: Celery support for heavy validations (VeraPDF)  ### 📡 AFNOR PDP/PA Integration (XP Z12-013) - **Flow Submission**: Send invoices to Partner Dematerialization Platforms - **Flow Search**: View submitted invoices - **Download**: Retrieve PDF/A-3 with XML - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user (stored credentials or zero-storage)  ### ✍️ PDF Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification - **Certificate Generation**: Self-signed X.509 certificates for testing  ### 🔄 Asynchronous Processing - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **No timeout**: Ideal for large files or heavy validations  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     

The version of the OpenAPI document: 1.0.0
Contact: contact@factpulse.fr
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module FactPulse
  class CDARCycleDeVieApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Générer un message CDAR
    # Génère un message XML CDAR (Cross Domain Acknowledgement and Response) pour communiquer le statut d'une facture.  **Types de messages:** - **23** (Traitement): Message de cycle de vie standard - **305** (Transmission): Message de transmission entre plateformes  **Règles métier:** - BR-FR-CDV-14: Le statut 212 (ENCAISSEE) requiert un montant encaissé - BR-FR-CDV-15: Les statuts 206/207/208/210/213/501 requièrent un code motif
    # @param create_cdar_request [CreateCDARRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GenerateCDARResponse]
    def generate_cdar_api_v1_cdar_generate_post(create_cdar_request, opts = {})
      data, _status_code, _headers = generate_cdar_api_v1_cdar_generate_post_with_http_info(create_cdar_request, opts)
      data
    end

    # Générer un message CDAR
    # Génère un message XML CDAR (Cross Domain Acknowledgement and Response) pour communiquer le statut d&#39;une facture.  **Types de messages:** - **23** (Traitement): Message de cycle de vie standard - **305** (Transmission): Message de transmission entre plateformes  **Règles métier:** - BR-FR-CDV-14: Le statut 212 (ENCAISSEE) requiert un montant encaissé - BR-FR-CDV-15: Les statuts 206/207/208/210/213/501 requièrent un code motif
    # @param create_cdar_request [CreateCDARRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateCDARResponse, Integer, Hash)>] GenerateCDARResponse data, response status code and response headers
    def generate_cdar_api_v1_cdar_generate_post_with_http_info(create_cdar_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CDARCycleDeVieApi.generate_cdar_api_v1_cdar_generate_post ...'
      end
      # verify the required parameter 'create_cdar_request' is set
      if @api_client.config.client_side_validation && create_cdar_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_cdar_request' when calling CDARCycleDeVieApi.generate_cdar_api_v1_cdar_generate_post"
      end
      # resource path
      local_var_path = '/api/v1/cdar/generate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_cdar_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GenerateCDARResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"CDARCycleDeVieApi.generate_cdar_api_v1_cdar_generate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CDARCycleDeVieApi#generate_cdar_api_v1_cdar_generate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Liste des codes action CDAR
    # Retourne la liste complète des codes action (BR-FR-CDV-CL-10).  Ces codes indiquent l'action demandée sur la facture.
    # @param [Hash] opts the optional parameters
    # @return [ActionCodesResponse]
    def get_action_codes_api_v1_cdar_action_codes_get(opts = {})
      data, _status_code, _headers = get_action_codes_api_v1_cdar_action_codes_get_with_http_info(opts)
      data
    end

    # Liste des codes action CDAR
    # Retourne la liste complète des codes action (BR-FR-CDV-CL-10).  Ces codes indiquent l&#39;action demandée sur la facture.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActionCodesResponse, Integer, Hash)>] ActionCodesResponse data, response status code and response headers
    def get_action_codes_api_v1_cdar_action_codes_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CDARCycleDeVieApi.get_action_codes_api_v1_cdar_action_codes_get ...'
      end
      # resource path
      local_var_path = '/api/v1/cdar/action-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActionCodesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CDARCycleDeVieApi.get_action_codes_api_v1_cdar_action_codes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CDARCycleDeVieApi#get_action_codes_api_v1_cdar_action_codes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Liste des codes motif CDAR
    # Retourne la liste complète des codes motif de statut (BR-FR-CDV-CL-09).  Ces codes expliquent la raison d'un statut particulier.
    # @param [Hash] opts the optional parameters
    # @return [ReasonCodesResponse]
    def get_reason_codes_api_v1_cdar_reason_codes_get(opts = {})
      data, _status_code, _headers = get_reason_codes_api_v1_cdar_reason_codes_get_with_http_info(opts)
      data
    end

    # Liste des codes motif CDAR
    # Retourne la liste complète des codes motif de statut (BR-FR-CDV-CL-09).  Ces codes expliquent la raison d&#39;un statut particulier.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReasonCodesResponse, Integer, Hash)>] ReasonCodesResponse data, response status code and response headers
    def get_reason_codes_api_v1_cdar_reason_codes_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CDARCycleDeVieApi.get_reason_codes_api_v1_cdar_reason_codes_get ...'
      end
      # resource path
      local_var_path = '/api/v1/cdar/reason-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReasonCodesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CDARCycleDeVieApi.get_reason_codes_api_v1_cdar_reason_codes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CDARCycleDeVieApi#get_reason_codes_api_v1_cdar_reason_codes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Liste des codes statut CDAR
    # Retourne la liste complète des codes statut de facture (BR-FR-CDV-CL-06).  Ces codes indiquent l'état du cycle de vie d'une facture.
    # @param [Hash] opts the optional parameters
    # @return [StatusCodesResponse]
    def get_status_codes_api_v1_cdar_status_codes_get(opts = {})
      data, _status_code, _headers = get_status_codes_api_v1_cdar_status_codes_get_with_http_info(opts)
      data
    end

    # Liste des codes statut CDAR
    # Retourne la liste complète des codes statut de facture (BR-FR-CDV-CL-06).  Ces codes indiquent l&#39;état du cycle de vie d&#39;une facture.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusCodesResponse, Integer, Hash)>] StatusCodesResponse data, response status code and response headers
    def get_status_codes_api_v1_cdar_status_codes_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CDARCycleDeVieApi.get_status_codes_api_v1_cdar_status_codes_get ...'
      end
      # resource path
      local_var_path = '/api/v1/cdar/status-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StatusCodesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CDARCycleDeVieApi.get_status_codes_api_v1_cdar_status_codes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CDARCycleDeVieApi#get_status_codes_api_v1_cdar_status_codes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Générer et soumettre un message CDAR
    # Génère un message CDAR et le soumet à la plateforme PA/PDP.  **Stratégies d'authentification:** 1. **JWT avec client_uid** (recommandé): credentials PDP récupérés du backend 2. **Zero-storage**: Fournir pdpFlowServiceUrl, pdpClientId, pdpClientSecret dans la requête  **Types de flux (flowType):** - `CustomerInvoiceLC`: Cycle de vie côté client (acheteur) - `SupplierInvoiceLC`: Cycle de vie côté fournisseur (vendeur)
    # @param submit_cdar_request [SubmitCDARRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SubmitCDARResponse]
    def submit_cdar_api_v1_cdar_submit_post(submit_cdar_request, opts = {})
      data, _status_code, _headers = submit_cdar_api_v1_cdar_submit_post_with_http_info(submit_cdar_request, opts)
      data
    end

    # Générer et soumettre un message CDAR
    # Génère un message CDAR et le soumet à la plateforme PA/PDP.  **Stratégies d&#39;authentification:** 1. **JWT avec client_uid** (recommandé): credentials PDP récupérés du backend 2. **Zero-storage**: Fournir pdpFlowServiceUrl, pdpClientId, pdpClientSecret dans la requête  **Types de flux (flowType):** - &#x60;CustomerInvoiceLC&#x60;: Cycle de vie côté client (acheteur) - &#x60;SupplierInvoiceLC&#x60;: Cycle de vie côté fournisseur (vendeur)
    # @param submit_cdar_request [SubmitCDARRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubmitCDARResponse, Integer, Hash)>] SubmitCDARResponse data, response status code and response headers
    def submit_cdar_api_v1_cdar_submit_post_with_http_info(submit_cdar_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CDARCycleDeVieApi.submit_cdar_api_v1_cdar_submit_post ...'
      end
      # verify the required parameter 'submit_cdar_request' is set
      if @api_client.config.client_side_validation && submit_cdar_request.nil?
        fail ArgumentError, "Missing the required parameter 'submit_cdar_request' when calling CDARCycleDeVieApi.submit_cdar_api_v1_cdar_submit_post"
      end
      # resource path
      local_var_path = '/api/v1/cdar/submit'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(submit_cdar_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SubmitCDARResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"CDARCycleDeVieApi.submit_cdar_api_v1_cdar_submit_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CDARCycleDeVieApi#submit_cdar_api_v1_cdar_submit_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Soumettre un XML CDAR pré-généré
    # Soumet un message XML CDAR pré-généré à la plateforme PA/PDP.  Utile pour soumettre des XML générés par d'autres systèmes.  **Stratégies d'authentification:** 1. **JWT avec client_uid** (recommandé): credentials PDP récupérés du backend 2. **Zero-storage**: Fournir pdpFlowServiceUrl, pdpClientId, pdpClientSecret dans la requête
    # @param submit_cdarxml_request [SubmitCDARXMLRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SubmitCDARResponse]
    def submit_cdar_xml_api_v1_cdar_submit_xml_post(submit_cdarxml_request, opts = {})
      data, _status_code, _headers = submit_cdar_xml_api_v1_cdar_submit_xml_post_with_http_info(submit_cdarxml_request, opts)
      data
    end

    # Soumettre un XML CDAR pré-généré
    # Soumet un message XML CDAR pré-généré à la plateforme PA/PDP.  Utile pour soumettre des XML générés par d&#39;autres systèmes.  **Stratégies d&#39;authentification:** 1. **JWT avec client_uid** (recommandé): credentials PDP récupérés du backend 2. **Zero-storage**: Fournir pdpFlowServiceUrl, pdpClientId, pdpClientSecret dans la requête
    # @param submit_cdarxml_request [SubmitCDARXMLRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubmitCDARResponse, Integer, Hash)>] SubmitCDARResponse data, response status code and response headers
    def submit_cdar_xml_api_v1_cdar_submit_xml_post_with_http_info(submit_cdarxml_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CDARCycleDeVieApi.submit_cdar_xml_api_v1_cdar_submit_xml_post ...'
      end
      # verify the required parameter 'submit_cdarxml_request' is set
      if @api_client.config.client_side_validation && submit_cdarxml_request.nil?
        fail ArgumentError, "Missing the required parameter 'submit_cdarxml_request' when calling CDARCycleDeVieApi.submit_cdar_xml_api_v1_cdar_submit_xml_post"
      end
      # resource path
      local_var_path = '/api/v1/cdar/submit-xml'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(submit_cdarxml_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SubmitCDARResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"CDARCycleDeVieApi.submit_cdar_xml_api_v1_cdar_submit_xml_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CDARCycleDeVieApi#submit_cdar_xml_api_v1_cdar_submit_xml_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # [Simplifié] Soumettre un statut ENCAISSÉE (212)
    # **Endpoint simplifié pour OD** - Soumet un statut ENCAISSÉE (212) pour une facture.  Ce statut est **obligatoire pour le PPF** (BR-FR-CDV-14 requiert le montant encaissé).  **Cas d'usage:** L'acheteur confirme le paiement d'une facture.  **Authentification:** JWT Bearer (recommandé) ou credentials PDP dans la requête.
    # @param encaissee_request [EncaisseeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SimplifiedCDARResponse]
    def submit_encaissee_api_v1_cdar_encaissee_post(encaissee_request, opts = {})
      data, _status_code, _headers = submit_encaissee_api_v1_cdar_encaissee_post_with_http_info(encaissee_request, opts)
      data
    end

    # [Simplifié] Soumettre un statut ENCAISSÉE (212)
    # **Endpoint simplifié pour OD** - Soumet un statut ENCAISSÉE (212) pour une facture.  Ce statut est **obligatoire pour le PPF** (BR-FR-CDV-14 requiert le montant encaissé).  **Cas d&#39;usage:** L&#39;acheteur confirme le paiement d&#39;une facture.  **Authentification:** JWT Bearer (recommandé) ou credentials PDP dans la requête.
    # @param encaissee_request [EncaisseeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimplifiedCDARResponse, Integer, Hash)>] SimplifiedCDARResponse data, response status code and response headers
    def submit_encaissee_api_v1_cdar_encaissee_post_with_http_info(encaissee_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CDARCycleDeVieApi.submit_encaissee_api_v1_cdar_encaissee_post ...'
      end
      # verify the required parameter 'encaissee_request' is set
      if @api_client.config.client_side_validation && encaissee_request.nil?
        fail ArgumentError, "Missing the required parameter 'encaissee_request' when calling CDARCycleDeVieApi.submit_encaissee_api_v1_cdar_encaissee_post"
      end
      # resource path
      local_var_path = '/api/v1/cdar/encaissee'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(encaissee_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SimplifiedCDARResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"CDARCycleDeVieApi.submit_encaissee_api_v1_cdar_encaissee_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CDARCycleDeVieApi#submit_encaissee_api_v1_cdar_encaissee_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # [Simplifié] Soumettre un statut REFUSÉE (210)
    # **Endpoint simplifié pour OD** - Soumet un statut REFUSÉE (210) pour une facture.  Ce statut est **obligatoire pour le PPF** (BR-FR-CDV-15 requiert un code motif).  **Cas d'usage:** L'acheteur refuse une facture reçue.  **Codes motif autorisés (BR-FR-CDV-CL-09):** - `TX_TVA_ERR`: Taux de TVA erroné - `MONTANTTOTAL_ERR`: Montant total erroné - `CALCUL_ERR`: Erreur de calcul - `NON_CONFORME`: Non conforme - `DOUBLON`: Doublon - `DEST_ERR`: Destinataire erroné - `TRANSAC_INC`: Transaction incomplète - `EMMET_INC`: Émetteur inconnu - `CONTRAT_TERM`: Contrat terminé - `DOUBLE_FACT`: Double facturation - `CMD_ERR`: Commande erronée - `ADR_ERR`: Adresse erronée - `REF_CT_ABSENT`: Référence contrat absente  **Authentification:** JWT Bearer (recommandé) ou credentials PDP dans la requête.
    # @param refusee_request [RefuseeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SimplifiedCDARResponse]
    def submit_refusee_api_v1_cdar_refusee_post(refusee_request, opts = {})
      data, _status_code, _headers = submit_refusee_api_v1_cdar_refusee_post_with_http_info(refusee_request, opts)
      data
    end

    # [Simplifié] Soumettre un statut REFUSÉE (210)
    # **Endpoint simplifié pour OD** - Soumet un statut REFUSÉE (210) pour une facture.  Ce statut est **obligatoire pour le PPF** (BR-FR-CDV-15 requiert un code motif).  **Cas d&#39;usage:** L&#39;acheteur refuse une facture reçue.  **Codes motif autorisés (BR-FR-CDV-CL-09):** - &#x60;TX_TVA_ERR&#x60;: Taux de TVA erroné - &#x60;MONTANTTOTAL_ERR&#x60;: Montant total erroné - &#x60;CALCUL_ERR&#x60;: Erreur de calcul - &#x60;NON_CONFORME&#x60;: Non conforme - &#x60;DOUBLON&#x60;: Doublon - &#x60;DEST_ERR&#x60;: Destinataire erroné - &#x60;TRANSAC_INC&#x60;: Transaction incomplète - &#x60;EMMET_INC&#x60;: Émetteur inconnu - &#x60;CONTRAT_TERM&#x60;: Contrat terminé - &#x60;DOUBLE_FACT&#x60;: Double facturation - &#x60;CMD_ERR&#x60;: Commande erronée - &#x60;ADR_ERR&#x60;: Adresse erronée - &#x60;REF_CT_ABSENT&#x60;: Référence contrat absente  **Authentification:** JWT Bearer (recommandé) ou credentials PDP dans la requête.
    # @param refusee_request [RefuseeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimplifiedCDARResponse, Integer, Hash)>] SimplifiedCDARResponse data, response status code and response headers
    def submit_refusee_api_v1_cdar_refusee_post_with_http_info(refusee_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CDARCycleDeVieApi.submit_refusee_api_v1_cdar_refusee_post ...'
      end
      # verify the required parameter 'refusee_request' is set
      if @api_client.config.client_side_validation && refusee_request.nil?
        fail ArgumentError, "Missing the required parameter 'refusee_request' when calling CDARCycleDeVieApi.submit_refusee_api_v1_cdar_refusee_post"
      end
      # resource path
      local_var_path = '/api/v1/cdar/refusee'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(refusee_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SimplifiedCDARResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"CDARCycleDeVieApi.submit_refusee_api_v1_cdar_refusee_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CDARCycleDeVieApi#submit_refusee_api_v1_cdar_refusee_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Valider des données CDAR
    # Valide les données CDAR sans générer le XML.  Vérifie: - Les formats des champs (SIREN, dates, etc.) - Les codes enums (statut, motif, action) - Les règles métier BR-FR-CDV-*
    # @param validate_cdar_request [ValidateCDARRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ValidateCDARResponse]
    def validate_cdar_api_v1_cdar_validate_post(validate_cdar_request, opts = {})
      data, _status_code, _headers = validate_cdar_api_v1_cdar_validate_post_with_http_info(validate_cdar_request, opts)
      data
    end

    # Valider des données CDAR
    # Valide les données CDAR sans générer le XML.  Vérifie: - Les formats des champs (SIREN, dates, etc.) - Les codes enums (statut, motif, action) - Les règles métier BR-FR-CDV-*
    # @param validate_cdar_request [ValidateCDARRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ValidateCDARResponse, Integer, Hash)>] ValidateCDARResponse data, response status code and response headers
    def validate_cdar_api_v1_cdar_validate_post_with_http_info(validate_cdar_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CDARCycleDeVieApi.validate_cdar_api_v1_cdar_validate_post ...'
      end
      # verify the required parameter 'validate_cdar_request' is set
      if @api_client.config.client_side_validation && validate_cdar_request.nil?
        fail ArgumentError, "Missing the required parameter 'validate_cdar_request' when calling CDARCycleDeVieApi.validate_cdar_api_v1_cdar_validate_post"
      end
      # resource path
      local_var_path = '/api/v1/cdar/validate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(validate_cdar_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ValidateCDARResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"CDARCycleDeVieApi.validate_cdar_api_v1_cdar_validate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CDARCycleDeVieApi#validate_cdar_api_v1_cdar_validate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
