=begin
#FactPulse REST API

# REST API for electronic invoicing in France: Factur-X (CII), UBL 2.1, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Invoice Generation - **Formats**: CII XML, UBL 2.1 XML, or Factur-X PDF/A-3 - **Profiles** (CII/PDF): MINIMUM, BASIC, EN16931, EXTENDED - **UBL**: Always EN16931 compliant - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT), UBL 2.1 (OASIS) - **Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Factur-X - Validation - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules)  ### ✍️ Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification  ### 📋 Flux 6 - Invoice Lifecycle (CDAR) - **CDAR Messages**: Acknowledgements, invoice statuses - **PPF Statuses**: REFUSED (210), PAID (212)  ### 📊 Flux 10 - E-Reporting - **Tax Declarations**: International B2B, B2C - **Flow Types**: 10.1 (B2B transactions), 10.2 (B2B payments), 10.3 (B2C transactions), 10.4 (B2C payments)  ### 📡 AFNOR PDP/PA (XP Z12-013) - **Flow Service**: Submit and search flows to PDPs - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user  ### 🏛️ Chorus Pro - **Public Sector Invoicing**: Complete API for Chorus Pro  ### ⏳ Async Tasks - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **Webhooks**: Automatic notifications when tasks complete  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     

The version of the OpenAPI document: 1.0.0
Contact: contact@factpulse.fr
Generated by: https://openapi-generator.tech
Generator version: 7.21.0-SNAPSHOT

=end

require 'cgi'

module FactPulse
  class Flux10EReportingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Generate aggregated e-reporting XML (PPF-compliant)
    # Generate a PPF-compliant aggregated e-reporting XML containing multiple flux types in a single file.  This endpoint creates a Report XML that can contain: - **TransactionsReport**: Invoice (10.1) AND/OR Transactions (10.3) - **PaymentsReport**: Invoice payments (10.2) AND/OR Transaction payments (10.4)  The AFNOR FlowType is automatically determined based on content: - Single type → Specific FlowType (e.g., AggregatedCustomerTransactionReport) - Multiple types → MultiFlowReport  **CategoryCode (TT-81)** must use PPF-compliant values: - TLB1: Goods deliveries - TPS1: Service provisions - TNT1: Non-taxed transactions - TMA1: Mixed transactions
    # @param create_aggregated_report_request [CreateAggregatedReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GenerateAggregatedReportResponse]
    def generate_aggregated_ereporting_api_v1_ereporting_generate_aggregated_post(create_aggregated_report_request, opts = {})
      data, _status_code, _headers = generate_aggregated_ereporting_api_v1_ereporting_generate_aggregated_post_with_http_info(create_aggregated_report_request, opts)
      data
    end

    # Generate aggregated e-reporting XML (PPF-compliant)
    # Generate a PPF-compliant aggregated e-reporting XML containing multiple flux types in a single file.  This endpoint creates a Report XML that can contain: - **TransactionsReport**: Invoice (10.1) AND/OR Transactions (10.3) - **PaymentsReport**: Invoice payments (10.2) AND/OR Transaction payments (10.4)  The AFNOR FlowType is automatically determined based on content: - Single type → Specific FlowType (e.g., AggregatedCustomerTransactionReport) - Multiple types → MultiFlowReport  **CategoryCode (TT-81)** must use PPF-compliant values: - TLB1: Goods deliveries - TPS1: Service provisions - TNT1: Non-taxed transactions - TMA1: Mixed transactions
    # @param create_aggregated_report_request [CreateAggregatedReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateAggregatedReportResponse, Integer, Hash)>] GenerateAggregatedReportResponse data, response status code and response headers
    def generate_aggregated_ereporting_api_v1_ereporting_generate_aggregated_post_with_http_info(create_aggregated_report_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Flux10EReportingApi.generate_aggregated_ereporting_api_v1_ereporting_generate_aggregated_post ...'
      end
      # verify the required parameter 'create_aggregated_report_request' is set
      if @api_client.config.client_side_validation && create_aggregated_report_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_aggregated_report_request' when calling Flux10EReportingApi.generate_aggregated_ereporting_api_v1_ereporting_generate_aggregated_post"
      end
      # resource path
      local_var_path = '/api/v1/ereporting/generate-aggregated'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_aggregated_report_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GenerateAggregatedReportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"Flux10EReportingApi.generate_aggregated_ereporting_api_v1_ereporting_generate_aggregated_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Flux10EReportingApi#generate_aggregated_ereporting_api_v1_ereporting_generate_aggregated_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate e-reporting XML
    # Generate e-reporting XML (FRR format) from structured data.  Supports all four flow types: - **10.1**: Unitary B2B international transactions (use `invoices` field) - **10.2**: Payments for B2B international invoices (use `invoicePayments` field) - **10.3**: Aggregated B2C transactions (use `transactions` field) - **10.4**: Aggregated B2C payments (use `aggregatedPayments` field)  The generated XML is compliant with DGFIP specifications and ready for submission to a PA (Plateforme Agréée).
    # @param create_e_reporting_request [CreateEReportingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GenerateEReportingResponse]
    def generate_ereporting_api_v1_ereporting_generate_post(create_e_reporting_request, opts = {})
      data, _status_code, _headers = generate_ereporting_api_v1_ereporting_generate_post_with_http_info(create_e_reporting_request, opts)
      data
    end

    # Generate e-reporting XML
    # Generate e-reporting XML (FRR format) from structured data.  Supports all four flow types: - **10.1**: Unitary B2B international transactions (use &#x60;invoices&#x60; field) - **10.2**: Payments for B2B international invoices (use &#x60;invoicePayments&#x60; field) - **10.3**: Aggregated B2C transactions (use &#x60;transactions&#x60; field) - **10.4**: Aggregated B2C payments (use &#x60;aggregatedPayments&#x60; field)  The generated XML is compliant with DGFIP specifications and ready for submission to a PA (Plateforme Agréée).
    # @param create_e_reporting_request [CreateEReportingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateEReportingResponse, Integer, Hash)>] GenerateEReportingResponse data, response status code and response headers
    def generate_ereporting_api_v1_ereporting_generate_post_with_http_info(create_e_reporting_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Flux10EReportingApi.generate_ereporting_api_v1_ereporting_generate_post ...'
      end
      # verify the required parameter 'create_e_reporting_request' is set
      if @api_client.config.client_side_validation && create_e_reporting_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_e_reporting_request' when calling Flux10EReportingApi.generate_ereporting_api_v1_ereporting_generate_post"
      end
      # resource path
      local_var_path = '/api/v1/ereporting/generate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_e_reporting_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GenerateEReportingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"Flux10EReportingApi.generate_ereporting_api_v1_ereporting_generate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Flux10EReportingApi#generate_ereporting_api_v1_ereporting_generate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate and download e-reporting XML
    # Generate e-reporting XML and return as downloadable file.
    # @param create_e_reporting_request [CreateEReportingRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filename Output filename (default: ereporting_{reportId}.xml)
    # @return [nil]
    def generate_ereporting_download_api_v1_ereporting_generate_download_post(create_e_reporting_request, opts = {})
      generate_ereporting_download_api_v1_ereporting_generate_download_post_with_http_info(create_e_reporting_request, opts)
      nil
    end

    # Generate and download e-reporting XML
    # Generate e-reporting XML and return as downloadable file.
    # @param create_e_reporting_request [CreateEReportingRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filename Output filename (default: ereporting_{reportId}.xml)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def generate_ereporting_download_api_v1_ereporting_generate_download_post_with_http_info(create_e_reporting_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Flux10EReportingApi.generate_ereporting_download_api_v1_ereporting_generate_download_post ...'
      end
      # verify the required parameter 'create_e_reporting_request' is set
      if @api_client.config.client_side_validation && create_e_reporting_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_e_reporting_request' when calling Flux10EReportingApi.generate_ereporting_download_api_v1_ereporting_generate_download_post"
      end
      # resource path
      local_var_path = '/api/v1/ereporting/generate/download'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filename'] = opts[:'filename'] if !opts[:'filename'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_e_reporting_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"Flux10EReportingApi.generate_ereporting_download_api_v1_ereporting_generate_download_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Flux10EReportingApi#generate_ereporting_download_api_v1_ereporting_generate_download_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PPF-compliant category codes
    # Returns the list of valid CategoryCode values (TT-81) for e-reporting transactions.  Source: Annexe 6 - Format sémantique FE e-reporting v1.9
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def list_category_codes_api_v1_ereporting_category_codes_get(opts = {})
      data, _status_code, _headers = list_category_codes_api_v1_ereporting_category_codes_get_with_http_info(opts)
      data
    end

    # List PPF-compliant category codes
    # Returns the list of valid CategoryCode values (TT-81) for e-reporting transactions.  Source: Annexe 6 - Format sémantique FE e-reporting v1.9
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def list_category_codes_api_v1_ereporting_category_codes_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Flux10EReportingApi.list_category_codes_api_v1_ereporting_category_codes_get ...'
      end
      # resource path
      local_var_path = '/api/v1/ereporting/category-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"Flux10EReportingApi.list_category_codes_api_v1_ereporting_category_codes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Flux10EReportingApi#list_category_codes_api_v1_ereporting_category_codes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List available flow types
    # Returns the list of supported e-reporting flow types with descriptions.
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def list_flow_types_api_v1_ereporting_flow_types_get(opts = {})
      data, _status_code, _headers = list_flow_types_api_v1_ereporting_flow_types_get_with_http_info(opts)
      data
    end

    # List available flow types
    # Returns the list of supported e-reporting flow types with descriptions.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def list_flow_types_api_v1_ereporting_flow_types_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Flux10EReportingApi.list_flow_types_api_v1_ereporting_flow_types_get ...'
      end
      # resource path
      local_var_path = '/api/v1/ereporting/flow-types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"Flux10EReportingApi.list_flow_types_api_v1_ereporting_flow_types_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Flux10EReportingApi#list_flow_types_api_v1_ereporting_flow_types_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submit aggregated e-reporting to PA/PDP
    # Generate and submit a PPF-compliant aggregated e-reporting to a PA/PDP.  Combines generation and submission in a single call. Automatically determines the AFNOR FlowType based on content.
    # @param submit_aggregated_report_request [SubmitAggregatedReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SubmitEReportingResponse]
    def submit_aggregated_ereporting_api_v1_ereporting_submit_aggregated_post(submit_aggregated_report_request, opts = {})
      data, _status_code, _headers = submit_aggregated_ereporting_api_v1_ereporting_submit_aggregated_post_with_http_info(submit_aggregated_report_request, opts)
      data
    end

    # Submit aggregated e-reporting to PA/PDP
    # Generate and submit a PPF-compliant aggregated e-reporting to a PA/PDP.  Combines generation and submission in a single call. Automatically determines the AFNOR FlowType based on content.
    # @param submit_aggregated_report_request [SubmitAggregatedReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubmitEReportingResponse, Integer, Hash)>] SubmitEReportingResponse data, response status code and response headers
    def submit_aggregated_ereporting_api_v1_ereporting_submit_aggregated_post_with_http_info(submit_aggregated_report_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Flux10EReportingApi.submit_aggregated_ereporting_api_v1_ereporting_submit_aggregated_post ...'
      end
      # verify the required parameter 'submit_aggregated_report_request' is set
      if @api_client.config.client_side_validation && submit_aggregated_report_request.nil?
        fail ArgumentError, "Missing the required parameter 'submit_aggregated_report_request' when calling Flux10EReportingApi.submit_aggregated_ereporting_api_v1_ereporting_submit_aggregated_post"
      end
      # resource path
      local_var_path = '/api/v1/ereporting/submit-aggregated'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(submit_aggregated_report_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SubmitEReportingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"Flux10EReportingApi.submit_aggregated_ereporting_api_v1_ereporting_submit_aggregated_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Flux10EReportingApi#submit_aggregated_ereporting_api_v1_ereporting_submit_aggregated_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submit e-reporting to PA/PDP
    # Generate and submit e-reporting to a PA (Plateforme Agréée).  Authentication strategies (same as invoices): 1. **JWT with client_uid** (recommended): PDP credentials fetched from backend 2. **Zero-storage**: Provide pdpFlowServiceUrl, pdpClientId, pdpClientSecret in request  The e-reporting is submitted using the AFNOR Flow Service API with syntax=FRR (FRench Reporting).
    # @param submit_e_reporting_request [SubmitEReportingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SubmitEReportingResponse]
    def submit_ereporting_api_v1_ereporting_submit_post(submit_e_reporting_request, opts = {})
      data, _status_code, _headers = submit_ereporting_api_v1_ereporting_submit_post_with_http_info(submit_e_reporting_request, opts)
      data
    end

    # Submit e-reporting to PA/PDP
    # Generate and submit e-reporting to a PA (Plateforme Agréée).  Authentication strategies (same as invoices): 1. **JWT with client_uid** (recommended): PDP credentials fetched from backend 2. **Zero-storage**: Provide pdpFlowServiceUrl, pdpClientId, pdpClientSecret in request  The e-reporting is submitted using the AFNOR Flow Service API with syntax&#x3D;FRR (FRench Reporting).
    # @param submit_e_reporting_request [SubmitEReportingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubmitEReportingResponse, Integer, Hash)>] SubmitEReportingResponse data, response status code and response headers
    def submit_ereporting_api_v1_ereporting_submit_post_with_http_info(submit_e_reporting_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Flux10EReportingApi.submit_ereporting_api_v1_ereporting_submit_post ...'
      end
      # verify the required parameter 'submit_e_reporting_request' is set
      if @api_client.config.client_side_validation && submit_e_reporting_request.nil?
        fail ArgumentError, "Missing the required parameter 'submit_e_reporting_request' when calling Flux10EReportingApi.submit_ereporting_api_v1_ereporting_submit_post"
      end
      # resource path
      local_var_path = '/api/v1/ereporting/submit'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(submit_e_reporting_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SubmitEReportingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"Flux10EReportingApi.submit_ereporting_api_v1_ereporting_submit_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Flux10EReportingApi#submit_ereporting_api_v1_ereporting_submit_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submit pre-generated e-reporting XML
    # Submit a pre-generated e-reporting XML file directly to a PA/PDP.  This endpoint is designed for clients who generate their own PPF-compliant XML and only need FactPulse for the PDP submission.  **Process:** 1. Validates the XML against PPF XSD schemas 2. Determines the appropriate AFNOR FlowType 3. Submits to the configured PDP/PA 4. Returns the flowId for tracking  **Authentication:** Same strategies as /submit endpoint (JWT or zero-storage credentials).
    # @param xml_file [File] E-reporting XML file
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tracking_id 
    # @option opts [Boolean] :skip_validation Skip XSD validation (default to false)
    # @option opts [String] :pdp_flow_service_url 
    # @option opts [String] :pdp_token_url 
    # @option opts [String] :pdp_client_id 
    # @option opts [String] :pdp_client_secret 
    # @return [SubmitEReportingResponse]
    def submit_xml_ereporting_api_v1_ereporting_submit_xml_post(xml_file, opts = {})
      data, _status_code, _headers = submit_xml_ereporting_api_v1_ereporting_submit_xml_post_with_http_info(xml_file, opts)
      data
    end

    # Submit pre-generated e-reporting XML
    # Submit a pre-generated e-reporting XML file directly to a PA/PDP.  This endpoint is designed for clients who generate their own PPF-compliant XML and only need FactPulse for the PDP submission.  **Process:** 1. Validates the XML against PPF XSD schemas 2. Determines the appropriate AFNOR FlowType 3. Submits to the configured PDP/PA 4. Returns the flowId for tracking  **Authentication:** Same strategies as /submit endpoint (JWT or zero-storage credentials).
    # @param xml_file [File] E-reporting XML file
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tracking_id 
    # @option opts [Boolean] :skip_validation Skip XSD validation (default to false)
    # @option opts [String] :pdp_flow_service_url 
    # @option opts [String] :pdp_token_url 
    # @option opts [String] :pdp_client_id 
    # @option opts [String] :pdp_client_secret 
    # @return [Array<(SubmitEReportingResponse, Integer, Hash)>] SubmitEReportingResponse data, response status code and response headers
    def submit_xml_ereporting_api_v1_ereporting_submit_xml_post_with_http_info(xml_file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Flux10EReportingApi.submit_xml_ereporting_api_v1_ereporting_submit_xml_post ...'
      end
      # verify the required parameter 'xml_file' is set
      if @api_client.config.client_side_validation && xml_file.nil?
        fail ArgumentError, "Missing the required parameter 'xml_file' when calling Flux10EReportingApi.submit_xml_ereporting_api_v1_ereporting_submit_xml_post"
      end
      # resource path
      local_var_path = '/api/v1/ereporting/submit-xml'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['xml_file'] = xml_file
      form_params['tracking_id'] = opts[:'tracking_id'] if !opts[:'tracking_id'].nil?
      form_params['skip_validation'] = opts[:'skip_validation'] if !opts[:'skip_validation'].nil?
      form_params['pdp_flow_service_url'] = opts[:'pdp_flow_service_url'] if !opts[:'pdp_flow_service_url'].nil?
      form_params['pdp_token_url'] = opts[:'pdp_token_url'] if !opts[:'pdp_token_url'].nil?
      form_params['pdp_client_id'] = opts[:'pdp_client_id'] if !opts[:'pdp_client_id'].nil?
      form_params['pdp_client_secret'] = opts[:'pdp_client_secret'] if !opts[:'pdp_client_secret'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubmitEReportingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['HTTPBearer']

      new_options = opts.merge(
        :operation => :"Flux10EReportingApi.submit_xml_ereporting_api_v1_ereporting_submit_xml_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Flux10EReportingApi#submit_xml_ereporting_api_v1_ereporting_submit_xml_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate aggregated e-reporting data
    # Validates aggregated e-reporting data without generating XML.
    # @param create_aggregated_report_request [CreateAggregatedReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def validate_aggregated_ereporting_api_v1_ereporting_validate_aggregated_post(create_aggregated_report_request, opts = {})
      data, _status_code, _headers = validate_aggregated_ereporting_api_v1_ereporting_validate_aggregated_post_with_http_info(create_aggregated_report_request, opts)
      data
    end

    # Validate aggregated e-reporting data
    # Validates aggregated e-reporting data without generating XML.
    # @param create_aggregated_report_request [CreateAggregatedReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def validate_aggregated_ereporting_api_v1_ereporting_validate_aggregated_post_with_http_info(create_aggregated_report_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Flux10EReportingApi.validate_aggregated_ereporting_api_v1_ereporting_validate_aggregated_post ...'
      end
      # verify the required parameter 'create_aggregated_report_request' is set
      if @api_client.config.client_side_validation && create_aggregated_report_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_aggregated_report_request' when calling Flux10EReportingApi.validate_aggregated_ereporting_api_v1_ereporting_validate_aggregated_post"
      end
      # resource path
      local_var_path = '/api/v1/ereporting/validate-aggregated'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_aggregated_report_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"Flux10EReportingApi.validate_aggregated_ereporting_api_v1_ereporting_validate_aggregated_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Flux10EReportingApi#validate_aggregated_ereporting_api_v1_ereporting_validate_aggregated_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate e-reporting data
    # Validate e-reporting data without generating or submitting.  Performs: - Schema validation - Business rule validation (correct flux type vs data) - Data consistency checks (tax totals, dates, etc.)  Returns validation errors and warnings.
    # @param validate_e_reporting_request [ValidateEReportingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ValidateEReportingResponse]
    def validate_ereporting_api_v1_ereporting_validate_post(validate_e_reporting_request, opts = {})
      data, _status_code, _headers = validate_ereporting_api_v1_ereporting_validate_post_with_http_info(validate_e_reporting_request, opts)
      data
    end

    # Validate e-reporting data
    # Validate e-reporting data without generating or submitting.  Performs: - Schema validation - Business rule validation (correct flux type vs data) - Data consistency checks (tax totals, dates, etc.)  Returns validation errors and warnings.
    # @param validate_e_reporting_request [ValidateEReportingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ValidateEReportingResponse, Integer, Hash)>] ValidateEReportingResponse data, response status code and response headers
    def validate_ereporting_api_v1_ereporting_validate_post_with_http_info(validate_e_reporting_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Flux10EReportingApi.validate_ereporting_api_v1_ereporting_validate_post ...'
      end
      # verify the required parameter 'validate_e_reporting_request' is set
      if @api_client.config.client_side_validation && validate_e_reporting_request.nil?
        fail ArgumentError, "Missing the required parameter 'validate_e_reporting_request' when calling Flux10EReportingApi.validate_ereporting_api_v1_ereporting_validate_post"
      end
      # resource path
      local_var_path = '/api/v1/ereporting/validate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(validate_e_reporting_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ValidateEReportingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"Flux10EReportingApi.validate_ereporting_api_v1_ereporting_validate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Flux10EReportingApi#validate_ereporting_api_v1_ereporting_validate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate e-reporting XML (PPF Annexe 6 v1.9 compliant)
    # Validates an e-reporting XML file against PPF specifications (Annexe 6 v1.9):  **Validation levels:** 1. **XSD (REJ_SEMAN)**: Structure, types, cardinality 2. **Semantic (REJ_SEMAN)**: Authorized values from codelists 3. **Coherence (REJ_COH)**: Data consistency (totals = sum of breakdowns) 4. **Period (REJ_PER)**: Transaction dates within declared period  **Validated codes:** - SchemeID (ISO 6523): 0002=SIREN, 0009=SIRET, 0224=RoutingCode, etc. - RoleCode (UNCL 3035): SE=Seller, BY=Buyer, WK=Working party - CategoryCode (TT-81): TLB1, TPS1, TNT1, TMA1 - TaxCategoryCode (UNTDID 5305): S, Z, E, AE, K, G, O - Currency (ISO 4217), Country (ISO 3166-1)  Returns structured validation errors with PPF rejection codes.
    # @param xml_file [File] E-reporting XML file to validate
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :validate_coherence Validate data coherence (REJ_COH) (default to true)
    # @option opts [Boolean] :validate_period Validate period coherence (REJ_PER) (default to true)
    # @return [Hash<String, Object>]
    def validate_xml_ereporting_api_v1_ereporting_validate_xml_post(xml_file, opts = {})
      data, _status_code, _headers = validate_xml_ereporting_api_v1_ereporting_validate_xml_post_with_http_info(xml_file, opts)
      data
    end

    # Validate e-reporting XML (PPF Annexe 6 v1.9 compliant)
    # Validates an e-reporting XML file against PPF specifications (Annexe 6 v1.9):  **Validation levels:** 1. **XSD (REJ_SEMAN)**: Structure, types, cardinality 2. **Semantic (REJ_SEMAN)**: Authorized values from codelists 3. **Coherence (REJ_COH)**: Data consistency (totals &#x3D; sum of breakdowns) 4. **Period (REJ_PER)**: Transaction dates within declared period  **Validated codes:** - SchemeID (ISO 6523): 0002&#x3D;SIREN, 0009&#x3D;SIRET, 0224&#x3D;RoutingCode, etc. - RoleCode (UNCL 3035): SE&#x3D;Seller, BY&#x3D;Buyer, WK&#x3D;Working party - CategoryCode (TT-81): TLB1, TPS1, TNT1, TMA1 - TaxCategoryCode (UNTDID 5305): S, Z, E, AE, K, G, O - Currency (ISO 4217), Country (ISO 3166-1)  Returns structured validation errors with PPF rejection codes.
    # @param xml_file [File] E-reporting XML file to validate
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :validate_coherence Validate data coherence (REJ_COH) (default to true)
    # @option opts [Boolean] :validate_period Validate period coherence (REJ_PER) (default to true)
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def validate_xml_ereporting_api_v1_ereporting_validate_xml_post_with_http_info(xml_file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: Flux10EReportingApi.validate_xml_ereporting_api_v1_ereporting_validate_xml_post ...'
      end
      # verify the required parameter 'xml_file' is set
      if @api_client.config.client_side_validation && xml_file.nil?
        fail ArgumentError, "Missing the required parameter 'xml_file' when calling Flux10EReportingApi.validate_xml_ereporting_api_v1_ereporting_validate_xml_post"
      end
      # resource path
      local_var_path = '/api/v1/ereporting/validate-xml'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'validate_coherence'] = opts[:'validate_coherence'] if !opts[:'validate_coherence'].nil?
      query_params[:'validate_period'] = opts[:'validate_period'] if !opts[:'validate_period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['xml_file'] = xml_file

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKeyHeader', 'HTTPBearer']

      new_options = opts.merge(
        :operation => :"Flux10EReportingApi.validate_xml_ereporting_api_v1_ereporting_validate_xml_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: Flux10EReportingApi#validate_xml_ereporting_api_v1_ereporting_validate_xml_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
