=begin
#FactPulse REST API

# REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X Invoice Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Validation and Compliance - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata, electronic signatures - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules) - **Asynchronous Processing**: Celery support for heavy validations (VeraPDF)  ### 📡 AFNOR PDP/PA Integration (XP Z12-013) - **Flow Submission**: Send invoices to Partner Dematerialization Platforms - **Flow Search**: View submitted invoices - **Download**: Retrieve PDF/A-3 with XML - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user (stored credentials or zero-storage)  ### ✍️ PDF Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification - **Certificate Generation**: Self-signed X.509 certificates for testing  ### 🔄 Asynchronous Processing - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **No timeout**: Ideal for large files or heavy validations  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     

The version of the OpenAPI document: 1.0.0
Contact: contact@factpulse.fr
Generated by: https://openapi-generator.tech
Generator version: 7.19.0-SNAPSHOT

=end

# Common files
require 'openapi_client/api_client'
require 'openapi_client/api_error'
require 'openapi_client/api_model_base'
require 'openapi_client/version'
require 'openapi_client/configuration'

# Models
require 'openapi_client/models/afnor_acknowledgement'
require 'openapi_client/models/afnor_acknowledgement_detail'
require 'openapi_client/models/afnor_address_edit'
require 'openapi_client/models/afnor_address_patch'
require 'openapi_client/models/afnor_address_put'
require 'openapi_client/models/afnor_address_read'
require 'openapi_client/models/afnor_algorithm'
require 'openapi_client/models/afnor_contains_operator'
require 'openapi_client/models/afnor_create_directory_line_body'
require 'openapi_client/models/afnor_create_directory_line_body_addressing_information'
require 'openapi_client/models/afnor_create_directory_line_body_period'
require 'openapi_client/models/afnor_create_routing_code_body'
require 'openapi_client/models/afnor_credentials'
require 'openapi_client/models/afnor_destination'
require 'openapi_client/models/afnor_diffusion_status'
require 'openapi_client/models/afnor_directory_line_field'
require 'openapi_client/models/afnor_directory_line_payload_history_legal_unit_facility_routing_code'
require 'openapi_client/models/afnor_directory_line_payload_history_legal_unit_facility_routing_code_platform'
require 'openapi_client/models/afnor_directory_line_payload_history_legal_unit_facility_routing_code_routing_code'
require 'openapi_client/models/afnor_directory_line_post201_response'
require 'openapi_client/models/afnor_directory_line_search_post200_response'
require 'openapi_client/models/afnor_entity_type'
require 'openapi_client/models/afnor_error'
require 'openapi_client/models/afnor_facility_administrative_status'
require 'openapi_client/models/afnor_facility_nature'
require 'openapi_client/models/afnor_facility_payload_history'
require 'openapi_client/models/afnor_facility_payload_history_ule_b2g_additional_data'
require 'openapi_client/models/afnor_facility_payload_included'
require 'openapi_client/models/afnor_facility_type'
require 'openapi_client/models/afnor_flow'
require 'openapi_client/models/afnor_flow_ack_status'
require 'openapi_client/models/afnor_flow_direction'
require 'openapi_client/models/afnor_flow_info'
require 'openapi_client/models/afnor_flow_profile'
require 'openapi_client/models/afnor_flow_syntax'
require 'openapi_client/models/afnor_flow_type'
require 'openapi_client/models/afnor_full_flow_info'
require 'openapi_client/models/afnor_health_check_response'
require 'openapi_client/models/afnor_legal_unit_administrative_status'
require 'openapi_client/models/afnor_legal_unit_payload_history'
require 'openapi_client/models/afnor_legal_unit_payload_included'
require 'openapi_client/models/afnor_legal_unit_payload_included_no_siren'
require 'openapi_client/models/afnor_platform_status'
require 'openapi_client/models/afnor_processing_rule'
require 'openapi_client/models/afnor_reason_code'
require 'openapi_client/models/afnor_reason_code_enum'
require 'openapi_client/models/afnor_recipient_platform_type'
require 'openapi_client/models/afnor_result'
require 'openapi_client/models/afnor_routing_code_administrative_status'
require 'openapi_client/models/afnor_routing_code_field'
require 'openapi_client/models/afnor_routing_code_payload_history_legal_unit_facility'
require 'openapi_client/models/afnor_routing_code_post201_response'
require 'openapi_client/models/afnor_routing_code_search'
require 'openapi_client/models/afnor_routing_code_search_filters'
require 'openapi_client/models/afnor_routing_code_search_filters_administrative_status'
require 'openapi_client/models/afnor_routing_code_search_filters_routing_code_name'
require 'openapi_client/models/afnor_routing_code_search_filters_routing_identifier'
require 'openapi_client/models/afnor_routing_code_search_post200_response'
require 'openapi_client/models/afnor_routing_code_search_sorting_inner'
require 'openapi_client/models/afnor_search_directory_line'
require 'openapi_client/models/afnor_search_directory_line_filters'
require 'openapi_client/models/afnor_search_directory_line_filters_addressing_identifier'
require 'openapi_client/models/afnor_search_directory_line_filters_addressing_suffix'
require 'openapi_client/models/afnor_search_directory_line_sorting_inner'
require 'openapi_client/models/afnor_search_flow_content'
require 'openapi_client/models/afnor_search_flow_filters'
require 'openapi_client/models/afnor_search_flow_params'
require 'openapi_client/models/afnor_search_siren'
require 'openapi_client/models/afnor_search_siren_filters'
require 'openapi_client/models/afnor_search_siren_filters_administrative_status'
require 'openapi_client/models/afnor_search_siren_filters_business_name'
require 'openapi_client/models/afnor_search_siren_filters_entity_type'
require 'openapi_client/models/afnor_search_siren_filters_siren'
require 'openapi_client/models/afnor_search_siren_sorting_inner'
require 'openapi_client/models/afnor_search_siret'
require 'openapi_client/models/afnor_search_siret_filters'
require 'openapi_client/models/afnor_search_siret_filters_address_lines'
require 'openapi_client/models/afnor_search_siret_filters_administrative_status'
require 'openapi_client/models/afnor_search_siret_filters_country_subdivision'
require 'openapi_client/models/afnor_search_siret_filters_facility_type'
require 'openapi_client/models/afnor_search_siret_filters_locality'
require 'openapi_client/models/afnor_search_siret_filters_name'
require 'openapi_client/models/afnor_search_siret_filters_postal_code'
require 'openapi_client/models/afnor_search_siret_filters_siret'
require 'openapi_client/models/afnor_search_siret_sorting_inner'
require 'openapi_client/models/afnor_siren_field'
require 'openapi_client/models/afnor_siren_search_post200_response'
require 'openapi_client/models/afnor_siret_field'
require 'openapi_client/models/afnor_siret_search_post200_response'
require 'openapi_client/models/afnor_sorting_order'
require 'openapi_client/models/afnor_strict_operator'
require 'openapi_client/models/afnor_update_patch_directory_line_body'
require 'openapi_client/models/afnor_update_patch_routing_code_body'
require 'openapi_client/models/afnor_update_put_routing_code_body'
require 'openapi_client/models/afnor_webhook_callback_content'
require 'openapi_client/models/api_error'
require 'openapi_client/models/api_profile'
require 'openapi_client/models/accept_language'
require 'openapi_client/models/acknowledgment_status'
require 'openapi_client/models/additional_document'
require 'openapi_client/models/aggregated_payment_input'
require 'openapi_client/models/aggregated_transaction_input'
require 'openapi_client/models/allowance_charge'
require 'openapi_client/models/allowance_charge_reason_code'
require 'openapi_client/models/allowance_reason_code'
require 'openapi_client/models/allowance_total_amount'
require 'openapi_client/models/amount'
require 'openapi_client/models/amount1'
require 'openapi_client/models/amount_due'
require 'openapi_client/models/async_task_status'
require 'openapi_client/models/base_amount'
require 'openapi_client/models/bounding_box_schema'
require 'openapi_client/models/buyercountry'
require 'openapi_client/models/celery_status'
require 'openapi_client/models/certificate_info_response'
require 'openapi_client/models/charge_total_amount'
require 'openapi_client/models/chorus_pro_credentials'
require 'openapi_client/models/chorus_pro_destination'
require 'openapi_client/models/chorus_pro_result'
require 'openapi_client/models/contact'
require 'openapi_client/models/convert_resume_request'
require 'openapi_client/models/convert_success_response'
require 'openapi_client/models/convert_validation_failed_response'
require 'openapi_client/models/country_code'
require 'openapi_client/models/create_aggregated_report_request'
require 'openapi_client/models/create_e_reporting_request'
require 'openapi_client/models/currency'
require 'openapi_client/models/currency_code'
require 'openapi_client/models/delivery_party'
require 'openapi_client/models/destination'
require 'openapi_client/models/directory_line_include'
require 'openapi_client/models/doc_type'
require 'openapi_client/models/document_type_info'
require 'openapi_client/models/e_reporting_flow_type'
require 'openapi_client/models/electronic_address'
require 'openapi_client/models/enriched_invoice_info'
require 'openapi_client/models/error_level'
require 'openapi_client/models/error_source'
require 'openapi_client/models/extraction_info'
require 'openapi_client/models/factur_x_invoice'
require 'openapi_client/models/factur_xpdf_info'
require 'openapi_client/models/facture_electronique_rest_api_schemas_ereporting_invoice_type_code'
require 'openapi_client/models/facture_electronique_rest_api_schemas_ereporting_validation_error'
require 'openapi_client/models/facture_electronique_rest_api_schemas_processing_chorus_pro_credentials'
require 'openapi_client/models/field_status'
require 'openapi_client/models/file_info'
require 'openapi_client/models/files_info'
require 'openapi_client/models/flow_direction'
require 'openapi_client/models/flow_profile'
require 'openapi_client/models/flow_summary'
require 'openapi_client/models/flow_syntax'
require 'openapi_client/models/flow_type'
require 'openapi_client/models/generate_aggregated_report_response'
require 'openapi_client/models/generate_certificate_request'
require 'openapi_client/models/generate_certificate_response'
require 'openapi_client/models/generate_e_reporting_response'
require 'openapi_client/models/get_chorus_pro_id_request'
require 'openapi_client/models/get_chorus_pro_id_response'
require 'openapi_client/models/get_invoice_request'
require 'openapi_client/models/get_invoice_response'
require 'openapi_client/models/get_structure_request'
require 'openapi_client/models/get_structure_response'
require 'openapi_client/models/global_allowance_amount'
require 'openapi_client/models/gross_unit_price'
require 'openapi_client/models/http_validation_error'
require 'openapi_client/models/incoming_invoice'
require 'openapi_client/models/incoming_supplier'
require 'openapi_client/models/invoice_format'
require 'openapi_client/models/invoice_input'
require 'openapi_client/models/invoice_line'
require 'openapi_client/models/invoice_line_allowance_amount'
require 'openapi_client/models/invoice_note'
require 'openapi_client/models/invoice_payment_input'
require 'openapi_client/models/invoice_references'
require 'openapi_client/models/invoice_status'
require 'openapi_client/models/invoice_totals'
require 'openapi_client/models/invoice_totals_prepayment'
require 'openapi_client/models/invoice_type_code'
require 'openapi_client/models/invoice_type_code_output'
require 'openapi_client/models/invoicing_framework'
require 'openapi_client/models/invoicing_framework_code'
require 'openapi_client/models/line_net_amount'
require 'openapi_client/models/line_sub_type'
require 'openapi_client/models/line_total_amount'
require 'openapi_client/models/location_inner'
require 'openapi_client/models/mandatory_note_schema'
require 'openapi_client/models/manual_rate'
require 'openapi_client/models/manual_vat_rate'
require 'openapi_client/models/missing_field'
require 'openapi_client/models/operation_nature'
require 'openapi_client/models/output_format'
require 'openapi_client/models/pdf_validation_result_api'
require 'openapi_client/models/pdp_credentials'
require 'openapi_client/models/page_dimensions_schema'
require 'openapi_client/models/payee'
require 'openapi_client/models/payment_amount_by_rate'
require 'openapi_client/models/payment_card'
require 'openapi_client/models/payment_means'
require 'openapi_client/models/percentage'
require 'openapi_client/models/postal_address'
require 'openapi_client/models/price_allowance_amount'
require 'openapi_client/models/price_basis_quantity'
require 'openapi_client/models/processing_options'
require 'openapi_client/models/processing_rule'
require 'openapi_client/models/product_characteristic'
require 'openapi_client/models/product_classification'
require 'openapi_client/models/quantity'
require 'openapi_client/models/rate'
require 'openapi_client/models/rate1'
require 'openapi_client/models/recipient'
require 'openapi_client/models/report_period'
require 'openapi_client/models/report_sender'
require 'openapi_client/models/rounding_amount'
require 'openapi_client/models/routing_code_include'
require 'openapi_client/models/scheme_id'
require 'openapi_client/models/search_flow_request'
require 'openapi_client/models/search_flow_response'
require 'openapi_client/models/search_services_response'
require 'openapi_client/models/search_structure_request'
require 'openapi_client/models/search_structure_response'
require 'openapi_client/models/sellercountry'
require 'openapi_client/models/signature_info'
require 'openapi_client/models/signature_info_api'
require 'openapi_client/models/signature_parameters'
require 'openapi_client/models/simplified_invoice_data'
require 'openapi_client/models/siret_include'
require 'openapi_client/models/structure_info'
require 'openapi_client/models/structure_parameters'
require 'openapi_client/models/structure_service'
require 'openapi_client/models/submission_mode'
require 'openapi_client/models/submit_aggregated_report_request'
require 'openapi_client/models/submit_complete_invoice_request'
require 'openapi_client/models/submit_complete_invoice_response'
require 'openapi_client/models/submit_e_reporting_request'
require 'openapi_client/models/submit_e_reporting_response'
require 'openapi_client/models/submit_flow_request'
require 'openapi_client/models/submit_flow_response'
require 'openapi_client/models/submit_gross_amount'
require 'openapi_client/models/submit_invoice_request'
require 'openapi_client/models/submit_invoice_response'
require 'openapi_client/models/submit_net_amount'
require 'openapi_client/models/submit_vat_amount'
require 'openapi_client/models/supplementary_attachment'
require 'openapi_client/models/supplier'
require 'openapi_client/models/task_response'
require 'openapi_client/models/tax_breakdown_input'
require 'openapi_client/models/tax_due_date_type'
require 'openapi_client/models/tax_representative'
require 'openapi_client/models/taxable_amount'
require 'openapi_client/models/taxableamount'
require 'openapi_client/models/taxamount'
require 'openapi_client/models/taxamount1'
require 'openapi_client/models/taxamount2'
require 'openapi_client/models/taxexclusiveamount'
require 'openapi_client/models/taxexclusiveamount1'
require 'openapi_client/models/total_gross_amount'
require 'openapi_client/models/total_net_amount'
require 'openapi_client/models/total_vat_amount'
require 'openapi_client/models/transaction_category'
require 'openapi_client/models/transmission_type_code'
require 'openapi_client/models/unit_net_price'
require 'openapi_client/models/unit_of_measure'
require 'openapi_client/models/vat_accounting_code'
require 'openapi_client/models/vat_amount'
require 'openapi_client/models/vat_category'
require 'openapi_client/models/vat_line'
require 'openapi_client/models/vat_point_date_code'
require 'openapi_client/models/validate_e_reporting_request'
require 'openapi_client/models/validate_e_reporting_response'
require 'openapi_client/models/validation_error'
require 'openapi_client/models/validation_error_detail'
require 'openapi_client/models/validation_error_response'
require 'openapi_client/models/validation_info'
require 'openapi_client/models/validation_success_response'
require 'openapi_client/models/vat_rate'
require 'openapi_client/models/verification_success_response'
require 'openapi_client/models/verified_field_schema'

# APIs
require 'openapi_client/api/afnorpdppa_api'
require 'openapi_client/api/afnorpdppa_directory_service_api'
require 'openapi_client/api/afnorpdppa_flow_service_api'
require 'openapi_client/api/chorus_pro_api'
require 'openapi_client/api/document_conversion_api'
require 'openapi_client/api/downloads_api'
require 'openapi_client/api/e_reporting_api'
require 'openapi_client/api/health_api'
require 'openapi_client/api/invoice_processing_api'
require 'openapi_client/api/pdfxml_verification_api'
require 'openapi_client/api/user_api'

module OpenapiClient
  class << self
    # Customize default settings for the SDK using block.
    #   OpenapiClient.configure do |config|
    #     config.username = "xxx"
    #     config.password = "xxx"
    #   end
    # If no block given, return the default Configuration object.
    def configure
      if block_given?
        yield(Configuration.default)
      else
        Configuration.default
      end
    end
  end
end
