=begin
#FactPulse REST API

# REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X Invoice Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Validation and Compliance - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata, electronic signatures - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules) - **Asynchronous Processing**: Celery support for heavy validations (VeraPDF)  ### 📡 AFNOR PDP/PA Integration (XP Z12-013) - **Flow Submission**: Send invoices to Partner Dematerialization Platforms - **Flow Search**: View submitted invoices - **Download**: Retrieve PDF/A-3 with XML - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user (stored credentials or zero-storage)  ### ✍️ PDF Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification - **Certificate Generation**: Self-signed X.509 certificates for testing  ### 🔄 Asynchronous Processing - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **No timeout**: Ideal for large files or heavy validations  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     

The version of the OpenAPI document: 1.0.0
Contact: contact@factpulse.fr
Generated by: https://openapi-generator.tech
Generator version: 7.19.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class AFNORPDPPAFlowServiceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Download a flow
    # Download a file related to a given flow (AFNOR XP Z12-013 compliant): - Metadata [Default]: provides the flow metadata as JSON - Original: the document initially sent by the emitter - Converted: the document optionally converted by the system - ReadableView: the document optionally generated as readable file
    # @param flow_id [String] AFNOR flow identifier (UUID)
    # @param [Hash] opts the optional parameters
    # @option opts [DocType] :doc_type Type of file to download: Metadata (default, JSON), Original, Converted, or ReadableView
    # @return [AFNORFlow]
    def download_flow_proxy_api_v1_afnor_flow_v1_flows_flow_id_get(flow_id, opts = {})
      data, _status_code, _headers = download_flow_proxy_api_v1_afnor_flow_v1_flows_flow_id_get_with_http_info(flow_id, opts)
      data
    end

    # Download a flow
    # Download a file related to a given flow (AFNOR XP Z12-013 compliant): - Metadata [Default]: provides the flow metadata as JSON - Original: the document initially sent by the emitter - Converted: the document optionally converted by the system - ReadableView: the document optionally generated as readable file
    # @param flow_id [String] AFNOR flow identifier (UUID)
    # @param [Hash] opts the optional parameters
    # @option opts [DocType] :doc_type Type of file to download: Metadata (default, JSON), Original, Converted, or ReadableView
    # @return [Array<(AFNORFlow, Integer, Hash)>] AFNORFlow data, response status code and response headers
    def download_flow_proxy_api_v1_afnor_flow_v1_flows_flow_id_get_with_http_info(flow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPAFlowServiceApi.download_flow_proxy_api_v1_afnor_flow_v1_flows_flow_id_get ...'
      end
      # verify the required parameter 'flow_id' is set
      if @api_client.config.client_side_validation && flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_id' when calling AFNORPDPPAFlowServiceApi.download_flow_proxy_api_v1_afnor_flow_v1_flows_flow_id_get"
      end
      # resource path
      local_var_path = '/api/v1/afnor/flow/v1/flows/{flowId}'.sub('{' + 'flowId' + '}', CGI.escape(flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'docType'] = opts[:'doc_type'] if !opts[:'doc_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/pdf', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AFNORFlow'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPAFlowServiceApi.download_flow_proxy_api_v1_afnor_flow_v1_flows_flow_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPAFlowServiceApi#download_flow_proxy_api_v1_afnor_flow_v1_flows_flow_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Healthcheck Flow Service
    # Check Flow Service availability (AFNOR XP Z12-013 compliant)
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def flow_healthcheck_proxy_api_v1_afnor_flow_v1_healthcheck_get(opts = {})
      data, _status_code, _headers = flow_healthcheck_proxy_api_v1_afnor_flow_v1_healthcheck_get_with_http_info(opts)
      data
    end

    # Healthcheck Flow Service
    # Check Flow Service availability (AFNOR XP Z12-013 compliant)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def flow_healthcheck_proxy_api_v1_afnor_flow_v1_healthcheck_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPAFlowServiceApi.flow_healthcheck_proxy_api_v1_afnor_flow_v1_healthcheck_get ...'
      end
      # resource path
      local_var_path = '/api/v1/afnor/flow/v1/healthcheck'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPAFlowServiceApi.flow_healthcheck_proxy_api_v1_afnor_flow_v1_healthcheck_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPAFlowServiceApi#flow_healthcheck_proxy_api_v1_afnor_flow_v1_healthcheck_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search flows
    # Search invoicing flows by criteria (AFNOR XP Z12-013 compliant)
    # @param afnor_search_flow_params [AFNORSearchFlowParams] 
    # @param [Hash] opts the optional parameters
    # @return [AFNORSearchFlowContent]
    def search_flows_proxy_api_v1_afnor_flow_v1_flows_search_post(afnor_search_flow_params, opts = {})
      data, _status_code, _headers = search_flows_proxy_api_v1_afnor_flow_v1_flows_search_post_with_http_info(afnor_search_flow_params, opts)
      data
    end

    # Search flows
    # Search invoicing flows by criteria (AFNOR XP Z12-013 compliant)
    # @param afnor_search_flow_params [AFNORSearchFlowParams] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AFNORSearchFlowContent, Integer, Hash)>] AFNORSearchFlowContent data, response status code and response headers
    def search_flows_proxy_api_v1_afnor_flow_v1_flows_search_post_with_http_info(afnor_search_flow_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPAFlowServiceApi.search_flows_proxy_api_v1_afnor_flow_v1_flows_search_post ...'
      end
      # verify the required parameter 'afnor_search_flow_params' is set
      if @api_client.config.client_side_validation && afnor_search_flow_params.nil?
        fail ArgumentError, "Missing the required parameter 'afnor_search_flow_params' when calling AFNORPDPPAFlowServiceApi.search_flows_proxy_api_v1_afnor_flow_v1_flows_search_post"
      end
      # resource path
      local_var_path = '/api/v1/afnor/flow/v1/flows/search'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(afnor_search_flow_params)

      # return_type
      return_type = opts[:debug_return_type] || 'AFNORSearchFlowContent'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPAFlowServiceApi.search_flows_proxy_api_v1_afnor_flow_v1_flows_search_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPAFlowServiceApi#search_flows_proxy_api_v1_afnor_flow_v1_flows_search_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submit an invoicing flow
    # Submits an electronic invoice to a Partner Dematerialization Platform (PDP) in compliance with the AFNOR XP Z12-013 standard
    # @param flow_info [AFNORFlowInfo] 
    # @param file [File] Flow file (PDF/A-3 with embedded XML or XML)
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def submit_flow_proxy_api_v1_afnor_flow_v1_flows_post(flow_info, file, opts = {})
      data, _status_code, _headers = submit_flow_proxy_api_v1_afnor_flow_v1_flows_post_with_http_info(flow_info, file, opts)
      data
    end

    # Submit an invoicing flow
    # Submits an electronic invoice to a Partner Dematerialization Platform (PDP) in compliance with the AFNOR XP Z12-013 standard
    # @param flow_info [AFNORFlowInfo] 
    # @param file [File] Flow file (PDF/A-3 with embedded XML or XML)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def submit_flow_proxy_api_v1_afnor_flow_v1_flows_post_with_http_info(flow_info, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AFNORPDPPAFlowServiceApi.submit_flow_proxy_api_v1_afnor_flow_v1_flows_post ...'
      end
      # verify the required parameter 'flow_info' is set
      if @api_client.config.client_side_validation && flow_info.nil?
        fail ArgumentError, "Missing the required parameter 'flow_info' when calling AFNORPDPPAFlowServiceApi.submit_flow_proxy_api_v1_afnor_flow_v1_flows_post"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling AFNORPDPPAFlowServiceApi.submit_flow_proxy_api_v1_afnor_flow_v1_flows_post"
      end
      # resource path
      local_var_path = '/api/v1/afnor/flow/v1/flows'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['flowInfo'] = flow_info
      form_params['file'] = file

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AFNORPDPPAFlowServiceApi.submit_flow_proxy_api_v1_afnor_flow_v1_flows_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AFNORPDPPAFlowServiceApi#submit_flow_proxy_api_v1_afnor_flow_v1_flows_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
